<h1>Welcome!</h1>

<div id="container">
	<div class="col-sm-6 form-container">
		<h3> Registration </h3>
		<%= simple_form_for(@user, :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control" } }) do |f| %>
			<%= f.input :name, label: "Name:" %>
			<%= f.input :email, label: "Email:" %>
			<%= f.input :password, label: "Password:" %>
			<%= f.input :password_confirmation, label: "Confirm Password:" %>
			<%= f.button :submit, input_html: {value: 'Create User'}, class: "btn btn-primary"%>
		<% end %>
		
		<h3> Sign In </h3>
		<%= simple_form_for(@user, url: '/sessions/create', :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control" } }) do |f| %>
			<%= f.input :email, label: "Email:" %>
			<%= f.input :password, label: "Password:" %>
			<%= f.button :submit, input_html: {value: 'Sign In'}, class: "btn btn-primary"%>
		<% end %>

		<%= link_to 'Back', users_path %>
	</div>
</div>


